@include mobile {
    nav {
        background-color: $suu-red;
        display: grid;
        grid-template-columns: 5fr auto auto;
        height: 48px;
        position: fixed;
        top: 0;
        width: 100%;

        img {
            -ms-flex-item-align: center;
            align-self: center;
            height: 36px;
            margin-left: 4px;

            @include desktop {
                display: none;
            }
        }

        .active {
            background-color: #e6e7e8 !important;

            i,
            p {
                color: #2F2F2F !important;
            }
        }

        .mobile-button-container {
            background-color: #2F2F2F;
            cursor: pointer;
            display: grid;
            padding: 6px 0;

            .mobile-button-item {
                color: #fff;
                display: grid;
                justify-items: center;
                grid-gap: 10px;
                padding-left: 10px;

                p {
                    font-size: 12px;
                    line-height: 0;
                    padding-bottom: 5px;
                    text-transform: uppercase;
                    margin: 0;
                }

                i {
                    font-size: 24px;
                    padding-top: 2px;
                }
            }
        }

        .mobile-navigation {
            background-color: #e6e7e8;
            position: fixed;
            right: 0;
            top: 48px;
            height: calc(100% - 47px);
            margin-bottom: 150px;
            overflow-y: auto;
            -webkit-transition-duration: 1s;
            transition-duration: 1s;
            width: 0;
            z-index: 1000;
        }

        .container {
            border-bottom: 3px solid #8C8C8C;
            display: grid;
            grid-template-columns: 1fr;
            padding: 0 10px;

            a {
                color: #4c4c4c;
                letter-spacing: 1px;
                line-height: 18px;
                padding: 10px;
                text-transform: uppercase;

                &:not(:nth-child(7)) {
                    border-bottom: 1px solid $border-color;
                }
            }
        }

        .first,
        .second {
            display: grid;
            grid-template-columns: 1fr;
            padding: 0 10px;

            a {
                color: #4c4c4c;
                line-height: 18px;
                padding: 10px;

                &:not(:nth-child(7)) {
                    border-bottom: 1px solid $border-color;
                }
            }
        }

        .search-navigation {
            background-color: #e6e7e8;
            position: fixed;
            right: 0;
            top: 48px;
            height: calc(100% - 47px);
            margin-bottom: 150px;
            overflow-y: auto;
            -webkit-transition-duration: 1s;
            transition-duration: 1s;
            width: 0;
            z-index: 1000;

            .search-box {

                border-bottom: 3px solid #8C8C8C;
                display: grid;
                grid-template-columns: 1fr;
                padding: 0 10px;
                text-transform: uppercase;

                a {
                    color: #4c4c4c;
                    letter-spacing: 1px;
                    line-height: 18px;
                    padding: 10px;

                }

            }

            .search-items {
                display: grid;
                grid-template-columns: 1fr;
                padding: 0 10px;

                a {
                    color: #4c4c4c;
                    line-height: 18px;
                    padding: 10px;

                    &:not(:nth-child(3)) {
                        border-bottom: 1px solid $border-color;
                    }
                }
            }
        }
    }
}
@include above-tablet {
    .main-navigation {
        background-color: $suu-red;

        .container {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(7, 1fr);
            min-height: 70px;
            margin: auto;
            width: 95%;
            max-width: 1170px;

            a {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                color: #fff;
                font-size: 1.1em;
                letter-spacing: 1.5px;
                line-height: 1.1em;
                margin: 0 5px;
                text-align: center;
                text-transform: uppercase;
            }

            .nav-condense {
                font-size: .95em;
                letter-spacing: -1px;
            }

            @include desktop {
                .nav-condense {
                    letter-spacing: inherit;
                    font-size: 1.1em;
                }
            }

            @include desktop-xl {
                .container {
                    width: 80%;
                }
            }
        }
    }

    .sub-navigation {
        background-color: #e6e7e8;

        .sub-nav-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: auto;
            width: 95%;
            max-width: 1170px;
        }

        a {
            color: #333;
            font-size: .9em;
            line-height: 2rem;
            letter-spacing: .4px;
            padding-right: 6px;
            margin-right: 4px;

            &:hover {
                color: lighten(#333, 15%);
            }
        }

        .first {
            a:not(:nth-child(3)) {
                border-right: 1px solid #333;
            }
        }

        .second {
            justify-self: end;

            a:not(:nth-child(5)) {
                border-right: 1px solid #333;
            }
        }
    }
}
